<%= form_for(@curriculum) do |f| %>
  <% if @curriculum.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@curriculum.errors.count, "error") %> prohibited this curriculum from being saved:</h2>

      <ul>
      <% @curriculum.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


  <div class="field">
    <%= f.label :program_id %><br />
     <%= f.collection_select(:program_id, @programs, :id,:name)%>

  </div>

<div class="field">
    <%= f.label :Admission_id %><br />
     <%= f.collection_select(:program_id, @admission, :id,:admission_name)%>

  </div>

  <div class="field">
    <%= f.label :class_year_id %><br />
     <%= f.collection_select(:class_year_id, @class_years, :id,:name)%>

  </div>

 <div class="field">
    <%= f.label :semester_id %><br />
     <%= f.collection_select(:semester_id, @semesters, :id,:name)%>

  </div>

 <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
