<h1>Listing curriculums</h1>

<table>
  <tr>
    <th>Program</th>
    <th>Class year</th>
    <th>Semester</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @curriculums.each do |curriculum| %>
  <tr>
    <td><%= curriculum.program_id %></td>
    <td><%= curriculum.class_year_id %></td>
    <td><%= curriculum.semester_id %></td>
    <td><%= link_to 'Show', curriculum %></td>
    <td><%= link_to 'Edit', edit_curriculum_path(curriculum) %></td>
    <td><%= link_to 'Destroy', curriculum, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Curriculum', new_curriculum_path %>
