<p id="notice"><%= notice %></p>

<p>
  <b>Program:</b>
  <%= @curriculum.program.name %>
</p>

<p>
  <b>Class year:</b>
  <%= @curriculum.class_year.name %>
</p>

<p>
  <b>Semester:</b>
  <%= @curriculum.semester.name %>
</p>
<p>
  <b>Admission:</b>
  <%= @curriculum.program.admission.name %>
</p>

<%#= link_to 'Edit', edit_curriculum_path(@curriculum) %> |
<%#= link_to 'Back', curriculums_path %>
<%= link_to 'Add Courses', curriculums_path %>
