<h1> Editing Dormitory for <%= @dormitory.student.applicant.person.full_name %></h1>

<% form_for :dormitory, @dormitory, :url=>{:action=>"update", :id=>@dormitory.id} do |f| %>
<div>
 Building: <%= f.collection_select :id, Building.all, :id, :building_name %><br/>
</div>

<div>
 Room: <%= f.collection_select :room_id, Room.all, :id, :room_number %><br/>
</div>

<div>
  Bed No:   <%= f.text_field :bed_number  %><br/>
</div>

<div>
  <%= f.submit "Update" %>
</div>
          
  <% end %>