<%= start_form_tag :controller => 'admission_status_notfication_inputs', :action => 'sendadmisson'%>

<h3>Notification</h3>
Collage :<%= select_tag "collage",options_from_collection_for_select(@collage,"id","name")%>
Acadamic Calander: <%= text_field "acadamic" %><br/>

<%= submit_tag 'Send' %>

<%= end_form_tag %>
