<% #Menu items for instructor role 
   #sub-menu  Grade %>
	<div class='menu_link'><img src='/icons/application_side_list.png'/ width=20 height=20>
		 <%= link_to "View Applicants", student_service_staffs_selector_path %><br><div>
	<div class='menu_link'><img src='/icons/award_star_silver_1.png'/ width=20 height=20>
		  <%= link_to "View Grade", student_service_staffs_path %><br> </div>
	<div class='menu_link'><img src='/icons/briefcase.png'/ width=20 height=20>
		  <%= link_to "Transcript", student_service_staffs_path %><br> </div>
	<div class='menu_link'><img src='/icons/calendar_view_day.png'/ width=20 height=20>
		  <%= link_to "Mastersheet", student_service_staffs_path %><br></div>
	<div class='menu_link'><img src='/icons/book_previous.png'/ width=20 height=20> 
	 <%= link_to "Graduation", student_service_staffs_path %><br></div>

