Notification#forget_password

<%= @greeting %>, find me in app/views/app/views/notification/forget_password.text.erb
<%= start_form_tag :action=>'forgot_password'%>

<h3>Forgotten password</h3>

Email: <%= text_field "user","email" %><br/>

<%= submit_tag 'Email password' %>

<%= end_form_tag %>