<p id="notice"><%= notice %></p>

<p>
  <b>Offered course:</b>
  <%= @course_assignment.offered_course_id %>
</p>

<p>
  <b>Instructor:</b>
  <%= @course_assignment.instructor_id %>
</p>

<p>
  <b>Section:</b>
  <%= @course_assignment.section %>
</p>


<%= link_to 'Edit', edit_course_assignment_path(@course_assignment) %> |
<%= link_to 'Back', course_assignments_path %>
