<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @person.name %>
</p>

<p>
  <b>Father name:</b>
  <%= @person.father_name %>
</p>

<p>
  <b>Grand father name:</b>
  <%= @person.grand_father_name %>
</p>

<p>
  <b>Gender:</b>
  <%= @person.gender %>
</p>

<p>
  <b>Date of birth:</b>
  <%= @person.date_of_birth %>
</p>

<p>
  <b>Place of birth:</b>
  <%= @person.place_of_birth %>
</p>

<p>
  <b>Ethnicity:</b>
  <%= @person.ethnicity %>
</p>

<p>
  <b>Nationality:</b>
  <%= @person.nationality %>
</p>

<p>
  <b>Marital status:</b>
  <%= @person.marital_status %>
</p>

<p>
  <b>Mother full name:</b>
  <%= @person.mother_full_name %>
</p>

<p>
  <b>Photo:</b>
  <%= @person.photo %>
</p>


<%= link_to 'Edit', edit_person_path(@person) %> |
<%= link_to 'Back', people_path %>
