<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @campus.name %>
</p>

<p>
  <b>Campus telephone:</b>
  <%= @campus.campus_telephone %>
</p>

<p>
  <b>Campus pobox:</b>
  <%= @campus.campus_pobox %>
</p>

<p>
  <b>Campus email:</b>
  <%= @campus.campus_email %>
</p>


<%= link_to 'Edit', edit_campus_path(@campus) %> |
<%= link_to 'Back', campus_index_path %>
