<%= form_for(@curriculum_course) do |f| %>
  <% if @curriculum_course.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@curriculum_course.errors.count, "error") %> prohibited this curriculum_course from being saved:</h2>

      <ul>
      <% @curriculum_course.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

 <div class="field">
    <%= f.label :curriculum_id%><br />
     <%= f.collection_select(:curriculum_id, @curriculum, :program_id,:curriculums_select)%>
  </div>


 <div class="field">
    <%= f.label :course_id%><br />
     <%= f.collection_select(:course_id, @course, :id,:course_title)%>
  </div>
    
 <div class="field">
    <%= f.label :course_type%><br />
     <%= f.collection_select(:course_type, @course_type, :id,:name)%>
  </div>

  <div class="field">
    <%= f.label :price %><br />
    <%= f.text_field :price %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
