

<h1>Listing curriculum_courses</h1>

<table border ="1">
  <tr>
    <th>Curriculum</th>
    <th>Course</th>
    <th>Course type</th>
    <th>Price</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @curriculum_courses.each do |curriculum_course| %>
  <tr>
    <td><%= [curriculum_course.curriculum.program.name, "Year",curriculum_course.curriculum.class_year.name, "semester",curriculum_course.curriculum.semester.name].join("--")  %></td>
    <td><%= curriculum_course.course.course_title%></td>
    <td><%= curriculum_course.course_type %></td>
    <td><%= curriculum_course.price %></td>
    <td><%= link_to 'Show', curriculum_course %></td>
    <td><%= link_to 'Edit', edit_curriculum_course_path(curriculum_course) %></td>
    <td><%= link_to 'Destroy', curriculum_course, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Curriculum course', new_curriculum_course_path %>
