<h1>Listing award_types</h1>

<table>
  <tr>
    <th>Name</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @award_types.each do |award_type| %>
  <tr>
    <td><%= award_type.name %></td>
    <td><%= link_to 'Show', award_type %></td>
    <td><%= link_to 'Edit', edit_award_type_path(award_type) %></td>
    <td><%= link_to 'Destroy', award_type, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Award type', new_award_type_path %>
