<%#
# To change this template, choose Tools | Templates
# and open the template in the editor.
%>

<%= "_form.html" %>

<%= form_for(@event) do |f| %>
  <% if @event.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@event.errors.count, "error") %> prohibited this course from being saved:</h2>

      <ul>
      <% @event.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :Name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :Start_at %><br />
    <%= f.date :start_at %>
  </div>
  <div class="field">
    <%= f.label :End_at %><br />
    <%= f.date :end_at %>
  </div>
 
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
