<fieldset><legend><b><%= Person.find(@applicant.person_id).full_name%></b></legend>
  <table>
  <tr>
  <td rowspan="3"><%= image_tag @applicant.person.photo.url(:small) %></td></tr>


  <tr><td><b> Full Name</b></td>
  <td><%=  Person.find(@applicant.person_id).full_name%></td></tr>

  <tr> <td><b>Sex: </b></td>
  <td><%= @applicant.person.gender  %></td></tr>

  </table>
  </fieldset>
<%= link_to "Family Background", :controller => "family_backgrounds", :action => "new", :applicant_id => @applicantid%> |
<%= link_to "Emergency Contact", :controller => "emergency_contacts", :action => "new", :applicant_id => @applicantid%> |
<%= link_to "Educational Background", :controller => "educational_backgrounds", :action => "new", :applicant_id => @applicantid%> |
<%= link_to "Employment Info", :controller => "employment_informations", :action => "new", :applicant_id => @applicantid%> |
<%= link_to "Course Exemption", :controller => "course_exemptions", :action => "new", :applicant_id => @applicantid%> |
<% admtype = @applicant.admission.admission_type %>
<%if admtype == 1%>

<%= link_to "Department Choice", :controller => "department_choices", :action => "new", :applicant_id => @applicantid%> |
<%else%>
<%= link_to "Relevant Publication", :controller => "relevant_publications", :action => "new", :applicant_id => @applicantid%> |
<%= link_to "Research", :controller => "research_and_teaching_experiences", :action => "new", :applicant_id => @applicantid%> |
<%= link_to "Academic Proffesional Qualification", :controller => "academic_and_professional_qualifications", :action => "new", :applicant_id => @applicantid%> |
<%= link_to "Financial Support", :controller => "financial_supports", :action => "new", :applicant_id => @applicantid%> |
<%= link_to "References", :controller => "references", :action => "new", :applicant_id => @applicantid%> |
<%end%>


