<%= form_for @applicant, :html => { :multipart => true } do |f| %>
  <% if @applicant.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@applicant.errors.count, "error") %> prohibited this applicant from being saved:</h2>

      <ul>
      <% @applicant.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
   <fieldset><legend>Applicant Information</legend>
<table border ="0"><tr>
      <%  if @applicant.person_id.nil? %>
      <td><%= f.label :name %> </td>
      <td> <%= f.text_field :name %></td>
      <%else%>
        <td><%= f.label :name,:disabled => true %> </td>
        <td> <%= f.text_field :name,:disabled => true%></td>
      <%end%>
      <%  if @applicant.person_id.nil? %>
       <td><%= f.label :date_of_birth %><br /></td>
        <td> <%= f.date_select :date_of_birth %></td>
        <%else%>
       <td><%= f.label :date_of_birth,:disabled => true %><br /></td>
        <td> <%= f.date_select :date_of_birth, :disabled => true %></td></tr>
        <%end%>

      <%  if @applicant.person_id.nil? %>
        <tr><td><%= f.label :father_name %></td>
        <td><%= f.text_field :father_name %></td>
        <%else%>
        <td><%= f.label :father_name, :disabled => true %></td>
        <td><%= f.text_field :father_name, :disabled => true %></td>
         <%end%>
      <%  if @applicant.person_id.nil? %>
        <td><%= f.label :gender %><br /></td>
        <td><%= f.select :gender,["Male","Female"],:prompt=>"Select Gender" %></td>
        <%else%>
        <td><%= f.label :gender, :disabled => true %><br /></td>
        <td><%= f.select :gender,["Male","Female"],:prompt=>"Select Gender" , :disabled => true %></td></tr>
        <%end%>
           <%  if @applicant.person_id.nil? %>
        <tr><td><%= f.label :grand_father_name %></td>
        <td> <%= f.text_field :grand_father_name %></td>
        <%else%>
        <td><%= f.label :grand_father_name, :disabled => true %></td>
        <td> <%= f.text_field :grand_father_name, :disabled => true %></td>
        <%end%>
          <%  if @applicant.person_id.nil? %>
        <td><%= f.label :nationality %></td>
        <td><%= f.collection_select(:nationality,@nationality,:id,:name,:prompt=>"Select Nationality") %></td>
        <%else%>
        <td><%= f.label :nationality, :disabled => true %></td>
        <td><%= f.collection_select(:nationality,@nationality,:id,:name, :disabled => true) %></td></tr>
        <%end%>


       <%  if @applicant.person_id.nil? %>
        <tr><td><%= f.label :mother_full_name %><br /></td>
        <td><%= f.text_field :mother_full_name %></td>
        <%else%>
        <td><%= f.label :mother_full_name, :disabled => true %><br /></td>
        <td><%= f.text_field :mother_full_name, :disabled => true %></td>
        <%end%>

        <%  if @applicant.person_id.nil? %>
        <tr><td><%= f.label :place_of_birth %><br /></td>
        <td><%= f.text_field :place_of_birth %></td>
        <%else%>
        <td><%= f.label :place_of_birth, :disabled => true %><br /></td>
        <td><%= f.text_field :place_of_birth, :disabled => true %></td>
        <%end%>
      <tr>
        <td><%= f.label :marital_status %></td>
        <td><%= f.select :marital_status,["Married","Single","Divorced","Widow"],:prompt=>"Select Marital Status" %></td>

            <%  if @applicant.person_id.nil? %>

        <td><%= f.label :ethnicity %></td>
        <td><%= f.collection_select(:ethnicity,@ethnicity,:id,:name,:prompt=>"Select Ethnicity") %></td>
        <%else%>
        <td><%= f.label :ethnicity, :disabled => true %></td>
        <td><%= f.collection_select(:ethnicity,@ethnicity,:id,:name,:prompt=>"Select Ethnicity", :disabled => true) %></td></tr>
        <%end%>
      <%  if @applicant.person_id.nil? %>
        <tr><td><%= f.label :photo %></td>
        <td><%=  f.file_field :photo %></td>
        <%else%>
        <td><%= f.label :photo, :disabled => true %></td>
        <td><%=  f.file_field :photo, :disabled => true %></td>
        <td><%= image_tag @applicant.person.photo.url(:small) %> </td>
        </tr>
        <%end%>

        </table>

   </fieldset><br></br>
    <!-- end applicant info -->
    <fieldset><legend>Admission Information</legend>

   <table>
            <%  if @applicant.person_id.nil? %><tr>

   <td> <%= f.label :admission_id %></td>

   <td> <%= f.collection_select(:admission_id ,@Admission, :id,:name ,:prompt=> "Select Admission")%></td>
   <%else%>
         <td> <%= f.label :admission_id %></td>
   <td> <%= f.collection_select(:admission_id ,@Admission, :id,:name ,:prompt=> "Select Admission", :disabled => true)%></td></tr>
         <%end%>
<% if @applicant.person.nil? %>
        <tr><td> <%= f.label :college_id %></td>
          <td><%= f.collection_select(:college_id ,@College, :id,:name,:prompt=> "Select College")%></td>
          <%else%>
        <td> <%= f.label :college_id %></td>
          <td><%= f.collection_select(:college_id ,@College, :id,:name,:prompt=> "Select College", :disabled => true)%></td></tr>
         <%end%>

                 <%  if @applicant.person_id.nil? %>
        <tr><td> <%= f.label :entry_level %></td>
          <td><%= f.select :entry_level,["Freshman","Transfer","Advance Standing"] %></td>
          <%else%>
        <td> <%= f.label :entry_level %></td>
          <td><%= f.select :entry_level,["Freshman","Transfer","Advance Standing"], :disabled => true %></td></tr>
        <%end%>
      <%  if @applicant.person_id.nil? %>
        <tr><td>    <%= f.label :major_field_of_study %></td>
          <td><%= f.text_field :major_field_of_study %></td>
          <%else%>
        <td>    <%= f.label :major_field_of_study %></td>
          <td><%= f.text_field :major_field_of_study, :disabled => true %></td></tr>
        <%end%>
  <% if @applicant.person.nil? %>
        <tr><td><%= f.label :minor_field_of_study %></td>
          <td>  <%= f.text_field :minor_field_of_study %></td>
          <%else%>
        <td><%= f.label :minor_field_of_study %></td>
          <td>  <%= f.text_field :minor_field_of_study, :disabled => true %></td></tr>
        <%end%>

           <%  if @applicant.person_id.nil? %>
        <tr><td>    <%= f.label :academic_year %></td>
          <td> <%= f.text_field :academic_year %></td>
          <%else%>
        <td>    <%= f.label :academic_year %></td>
          <td> <%= f.text_field :academic_year, :disabled => true %></td></tr>
        <%end%>

   </table>
    </fieldset>
         <div class="actions">
          <%= f.submit %>
         </div>
<% end %>

