<%= form_for(@applicant) do |f| %>
    <% if @applicant.errors.any? %>
    <div id="error_explanation">
    <h2><%= pluralize(@applicant.errors.count, "error") %> prohibited this applicant from being saved:</h2>

    <ul>
    <% @applicant.errors.full_messages.each do |msg| %>
    <li><%= msg %></li>
    <% end %>
    </ul>
    </div>
    <% end %>
    <fieldset><legend>Applicant Information</legend>
    <table border ="0"><tr>
         
    <%= fields_for "@applicant[person_attributes]" do |p|%>
      <td><%= p.label :name %> </td>
      <td> <%= p.text_field :name %></td>
        <td><%= p.label :date_of_birth %><br /></td>
        <td> <%= p.date_select :date_of_birth %></td></tr>
        <tr><td><%= p.label :father_name %></td>
        <td><%= p.text_field :father_name %></td>
        <td><%= p.label :gender %><br /></td>
        <td><%= p.select :gender,["Male","Female"],:prompt=>"Select Gender" %></td></tr>
        <tr><td><%= p.label :grand_father_name %></td>
        <td> <%= p.text_field :grand_father_name %></td>
        <td><%= p.label :ethnicity %></td>
        <td><%= p.collection_select(:ethnicity,@ethnicity,:id,:name,:prompt=>"Select Ethnicity") %></td></tr>
        <tr><td><%= p.label :mother_full_name %><br /></td>
        <td><%= p.text_field :mother_full_name %></td>
        <td><%= p.label :nationality %></td>
        <td><%= p.collection_select(:nationality,@nationality,:id,:name,:prompt=>"Select Nationality") %></td></tr>
        <tr><td><%= p.label :place_of_birth %><br /></td>
        <td><%= p.text_field :place_of_birth %></td>
        <td><%= p.label :marital_status %></td>
        <td><%= p.select :marital_status,["Married","Single","Divorced","Widow"],:prompt=>"Select Marital Status" %></td></tr>
        <tr><td><%= p.label :photo %></td>
        <td><%= p.text_field :photo %></td></tr>
        </table>
     <% end %>   
    </fieldset><br></br>
    <!-- end applicant info -->

    <fieldset><legend>Admission Information</legend>

    <%= fields_for(@admission) do |f| %>
    <table border="0"><tr><td> <%= f.label :admission_type_id %></td><td><%= f.collection_select(:admission_type_id,@Admissiontype,:id,:name,:prompt=>"Select Admission Type") %></td><td><%= f.label :Acadamic_Calander %><br /></td><td></td></tr>
    <tr><td><%= f.label :Enrollement_type %></td><td><%= f.collection_select(:enrollement_type_id,@Enrollementtype,:id,:name, :prompt=>"Select enrollment Type") %></td><td><%= f.label :major_feild_of_study %></td><td>  <%= f.text_field :major_feild_of_study %></td></tr>
    <tr><td><%= f.label :entry_level %></td><td><%= f.select :entry_level,["Fresh man","Transfer","Advance Standing"],:prompt=>"Select Entry Level" %></td><td> <%= f.label :minor_field_of_study %></td><td><%= f.text_field :minor_feild_of_study %></td></tr>
    <tr><td><%= f.label :college %></td><td><%= f.collection_select(:college,@College,:id,:name,:prompt=>"Select Collage") %></td></tr>
    </table>
    <%end%>
    </fieldset><br></br>
    <div class="actions">
    <%= f.submit %>
    </div>
<% end %>

