<%= form_for(@program) do |f| %>
  <% if @program.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@program.errors.count, "error") %> prohibited this program from being saved:</h2>

      <ul>
      <% @program.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :department_id %><br />
    <%= f.collection_select(:department_id,@department,:id, :name) %>
  </div>
  <div class="field">
    <%= f.label :admission_id %><br />
    <%= f.collection_select(:admission_id ,@admission, :id,:name) %>
  </div>
  <div class="field">
    <%= f.label :duration %><br />
    <%= f.date_select :duration %>
  </div>
  <div class="field">
    <%= f.label :total_credit_hour %><br />
    <%= f.text_field :total_credit_hour %>
  </div>
  <div class="field">
    <%= f.label :award_type_id %><br />
    <%= f.collection_select(:award_type_id,@awardtype,:id,:name) %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>

<% end %>
