<p id="notice"><%= notice %></p>

<p>
  <b>Program:</b>
  <%= @program.program_id %>
</p>

<p>
  <b>Program name:</b>
  <%= @program.program_name %>
</p>

<p>
  <b>Level:</b>
  <%= @program.level %>
</p>

<p>
  <b>Enrollment type:</b>
  <%= @program.enrollment_type %>
</p>

<p>
  <b>Mode:</b>
  <%= @program.mode %>
</p>

<p>
  <b>Award type:</b>
  <%= @program.award_type %>
</p>

<p>
  <b>Duration:</b>
  <%= @program.duration %>
</p>

<p>
  <b>Total credit hour:</b>
  <%= @program.total_credit_hour %>
</p>

<p>
  <b>Department:</b>
  <%= @program.department_id %>
</p>


<%= link_to 'Edit', edit_program_path(@program) %> |
<%= link_to 'Back', programs_path %>
