<h1>Listing instructors</h1>

<table>
  <tr>
    <th>Id number</th>
    <th>Academic rank</th>
    <th>Specialization</th>
    <th>Role</th>
    <th>Department</th>
    <th>Person</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @instructors.each do |instructor| %>
  <tr>
    <td><%= instructor.id_number %></td>
    <td><%= instructor.academic_rank %></td>
    <td><%= instructor.specialization %></td>
    <td><%= instructor.role_id %></td>
    <td><%= instructor.department_id %></td>
    <td><%= instructor.person_id %></td>
    <td><%= link_to 'Show', instructor %></td>
    <td><%= link_to 'Edit', edit_instructor_path(instructor) %></td>
    <td><%= link_to 'Destroy', instructor, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Instructor', new_instructor_path %>
