<h1>Listing academic_calanders</h1>

<table>
  <tr>
    <th>Start date</th>
    <th>End date</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @academic_calanders.each do |academic_calander| %>
  <tr>
    <td><%= academic_calander.start_date %></td>
    <td><%= academic_calander.end_date %></td>
    <td><%= link_to 'Show', academic_calander %></td>
    <td><%= link_to 'Edit', edit_academic_calander_path(academic_calander) %></td>
    <td><%= link_to 'Destroy', academic_calander, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Academic calander', new_academic_calander_path %>
