<% #Menu items for Student Service Staff 
   #sub-menu  Academics  %>

	<div class='menu_link'><img src='/icons/application_side_list.png'/ width=20 height=20>
                 <%= link_to "Import Data", moe_data_import_import_path %><br><div>

         <div class='menu_link'><img src='/icons/campus.png'/ width=20 height=20>
                 <%= link_to "Add Campus", new_campus_path %><br><div>

         <div class='menu_link'><img src='/icons/college.png'/ width=20 height=20>
                 <%= link_to "Add college", new_college_path %><br><div>

        
		<div class='menu_link'><img src='/icons/department.png'/ width=20 height=20>
                 <%= link_to "Add Department", new_department_path %><br><div>

        <div class='menu_link'><img src='/icons/application_side_list.png'/ width=20 height=20>
                 <%= link_to "Add Admission Type", new_admission_type_path %><br><div>
    
       <div class='menu_link'><img src='/icons/application_side_list.png'/ width=20 height=20>
                 <%= link_to "Add Enrollment Type", new_enrollment_type_path %><br><div>
      

       <div class='menu_link'><img src='/icons/admission.png'/ width=20 height=20>
                 <%= link_to "Add Admission", new_admission_path %><br><div>


        <div class='menu_link'><img src='/icons/help.png'/ width=20 height=20>
                 <%= link_to "Add How's", new_how_to_path %><br><div>        


        <div class='menu_link'><img src='/icons/program.png'/ width=20 height=20>
                 <%= link_to "Add Program", new_program_path %><br><div>
	
	<div class='menu_link'><img src='/icons/award_star_silver_1.png'/ width=20 height=20>
                  <%= link_to "Academic Calendar", academic_calanders_path %><br> </div>

