<br>
<div class='link'><img src='/icons/award_star_silver_1.png'/ width=20 height=20>  <%= link_to "Create Campus", student_service_staffs_path %><br> </div>
<div class='link'><img src='/icons/briefcase.png'/ width=20 height=20>  <%= link_to "Place Dorm", student_service_staffs_path %><br> </div>
<div class='link'><img src='/icons/calendar_view_day.png'/ width=20 height=20>  <%= link_to "Create College", student_service_staffs_path %><br></div>
<div class='link'><img src='/icons/book_previous.png'/ width=20 height=20>  <%= link_to "Create Department ", student_service_staffs_path %><br></div>
<div class='link'><img src='/icons/book_previous.png'/ width=20 height=20>  <%= link_to "Create Program", student_service_staffs_path %><br></div>
<div class='link'><img src='/icons/book_previous.png'/ width=20 height=20>  <%= link_to "Create Course", student_service_staffs_path %><br></div>

