<p id="notice"><%= notice %></p>

<p>
  <b>Department:</b>
  <%= @department_choice.department_id %>
</p>

<p>
  <b>Applicant:</b>
  <%= @department_choice.applicant_id %>
</p>

<p>
  <b>Preference:</b>
  <%= @department_choice.preference %>
</p>


<%= link_to 'Edit', edit_department_choice_path(@department_choice) %> |
<%= link_to 'Back', department_choices_path %>
