<%= form_for(@user) do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
       <% @user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<fieldset>
  <legend>User Details</legend>
   <div class="field">
    <% if (@user.new_record? or @current_user.role == "admin" ) %>
    <%= f.label :username %><br />
    	<%= f.text_field :username %>
    <% else %>
	Username : <b>
  	<%= @current_user.username %></b>
     <% end %>
  </div>
  <div class="field">
    <%= f.label :email %><br />
    <%= f.text_field :email %>
  </div>

<%  if current_user %>
  <% if can? :assign_roles, User %>
    Role: <%= f.collection_select :role, User::ROLES, :to_s, :humanize %>
  <% end %>
<% end %>

  <div class="field">
    <%= f.label :password %><br />
    <%= f.password_field :password %>
  </div>
  <div class="field">
      <%= f.label :password_confirmation %><br />
      <%= f.password_field :password_confirmation %>
  </div>
  <div class="actions">
    <%= f.submit "Submit" %>
  </div>
</fieldset>

<% end %>

