<%= form_for(@educational_background) do |f| %>
  <% if @educational_background.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@educational_background.errors.count, "error") %> prohibited this educational_background from being saved:</h2>

      <ul>
      <% @educational_background.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<%= f.hidden_field :applicant_id, :value => @applicantid %>

<table>
  <tr><td><%= f.label :institution_type %></td><td><%= f.select :institution_type,["Secondary School","Preparatory","College"],:prompt=>"Select Institution" %></td></tr>
  <tr><td><%= f.label :institution_name %></td><td><%= f.text_field :institution_name %></td><td><%= f.label :result_type %></td><td><%= f.text_field :result_type %></td></tr>
  <tr><td> <%= f.label :institution_region %></td><td> <%= f.text_field :institution_region %></td><td><%= f.label :institution_zone %></td><td><%= f.text_field :institution_zone %></td></tr>
  <tr><td><%= f.label :institution_town %></td><td><%= f.text_field :institution_town %></td><td> <%= f.label :eheece_code %></td><td><%= f.text_field :eheece_code %></td></tr>
  <tr><td> <%= f.label :result %></td><td><%= f.text_field :result %></td><td><%= f.label :school_code %></td><td><%= f.text_field :school_code %></td></tr>
  <tr><td> <%= f.label :out_of %></td><td><%= f.text_field :out_of %></td><td><%= f.label :department %></td><td><%= f.text_field :department %></td></tr>
  <tr><td><%= f.label :college_leave_reason %></td><td><%= f.text_field :college_leave_reason %></td><td><%= f.label :attachment %></td><td><%= f.file_field :fs, :index => nil %></td></tr>
  <tr></tr>
</table>

 <div class="actions">
    <%= f.submit %>
  </div>
<% end %>

  <fieldset><legend>Educational Background List</legend>
<%= netzke :educational_backgrounds,
  :model => 'EducationalBackground',
  :class_name => 'Basepack::GridPanel',
  :scope => ["applicant_id = ?", @applicantid]
%>
  </fieldset>
<%= link_to 'Previous', :controller=> 'emergency_contacts', :action => 'new' , :applicant_id => @applicantid%>
<%= link_to 'Next', :controller=> 'employment_informations', :action => "new" , :applicant_id => @applicantid %>