<p id="notice"><%= notice %></p>

<p>
  <b>Institution type:</b>
  <%= @educational_background.institution_type %>
</p>

<p>
  <b>Institution name:</b>
  <%= @educational_background.institution_name %>
</p>

<p>
  <b>Result type:</b>
  <%= @educational_background.result_type %>
</p>

<p>
  <b>Eheece code:</b>
  <%= @educational_background.eheece_code %>
</p>

<p>
  <b>School code:</b>
  <%= @educational_background.school_code %>
</p>

<p>
  <b>Institution region:</b>
  <%= @educational_background.institution_region %>
</p>

<p>
  <b>Institution zone:</b>
  <%= @educational_background.institution_zone %>
</p>

<p>
  <b>Institution town:</b>
  <%= @educational_background.institution_town %>
</p>

<p>
  <b>Result:</b>
  <%= @educational_background.result %>
</p>

<p>
  <b>Out of:</b>
  <%= @educational_background.out_of %>
</p>

<p>
  <b>Department:</b>
  <%= @educational_background.department %>
</p>

<p>
  <b>College leave reason:</b>
  <%= @educational_background.college_leave_reason %>
</p>

<p>
  <b>Applicant:</b>
  <%= @educational_background.applicant_id %>
</p>

<p>
  <b>Attachment file name:</b>
  <%= @educational_background.attachment_file_name %>
</p>

<p>
  <b>Attachment content type:</b>
  <%= @educational_background.attachment_content_type %>
</p>

<p>
  <b>Attachment file size:</b>
  <%= @educational_background.attachment_file_size %>
</p>


<%= link_to 'Edit', edit_educational_background_path(@educational_background) %> |
<%= link_to 'Back', educational_backgrounds_path %>
