<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @department.name %>
</p>

<p>
  <b>College:</b>
  <%= @department.college_id %>
</p>

<p>
  <b>Telephone:</b>
  <%= @department.telephone %>
</p>

<p>
  <b>Pobox:</b>
  <%= @department.pobox %>
</p>

<p>
  <b>Email:</b>
  <%= @department.email %>
</p>

<p>
  <b>Instructor:</b>
  <%= @department.instructor_id %>
</p>


<%= link_to 'Edit', edit_department_path(@department) %> |
<%= link_to 'Back', departments_path %>
