<br><br><center>
<div style="width:400px;height:240px;text-align:left;border:1pt groove navy;float:left;text-indent:40px">
<img src="/icons/award_star_silver_1.png" width="20" height="20" style="text-indent:40px">
                 <%= link_to "Add Campus", new_campus_path %><br>
<img src="/icons/award_star_silver_1.png" width="20" height="20" style="text-indent:40px">
                 <%= link_to "Add college", new_college_path %><br>
<img src="/icons/award_star_silver_1.png" width="20" height="20">
                 <%= link_to "Add Department", new_department_path %><br>
<img src="/icons/award_star_silver_1.png" width="20" height="20">
                 <%= link_to "Add Admission Type", new_admission_type_path %><br>
<img src="/icons/award_star_silver_1.png" width="20" height="20">
                 <%= link_to "Add Enrollment Type", new_enrollment_type_path %><br>

</div>


<div style="width:400px;align:center;border:1pt groove navy;float:left">
<h1 align="center">Available Programs</h1><br/>
<center> <p id="prog" style="align:left">  Mekelle University is found at the town of Mekelle in Tigray region of Northern Ethiopia , at a distance of 783 Kilometers from the Ethiopian capital. The merger the two former colleges: Mekelle Business College and Mekelle University College established the University in May 2000 by the Government of Ethiopia (Council of Ministers, Regulations No. 61/1999 of Article 3) as an autonomous higher education institution. The two colleges have their own historical developments after beginning from scratch, and have also experienced exhausting ascends and descends, with voluminous relocations from place to place.
</div>
<br/>

</center>

