<h1>Listing events</h1>

<table>
  <tr>
    <th>Academic calander</th>
    <th>Start date</th>
    <th>End date</th>
    <th>Title</th>
    <th>Detail</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @events.each do |event| %>
  <tr>
    <td><%= event.academic_calander_id %></td>
    <td><%= event.start_date %></td>
    <td><%= event.end_date %></td>
    <td><%= event.title %></td>
    <td><%= event.detail %></td>
    <td><%= link_to 'Show', event %></td>
    <td><%= link_to 'Edit', edit_event_path(event) %></td>
    <td><%= link_to 'Destroy', event, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Event', new_event_path %>
