<%= form_for(@building) do |f| %>
  <% if @building.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@building.errors.count, "error") %> prohibited this building from being saved:</h2>

      <ul>
      <% @building.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :building_name %><br />
    <%= f.text_field :building_name %>
  </div>
  <div class="field">
    <%= f.label :campus_id %><br />
    <%= f.collection_select :campus_id, Campus.all, :id, :name, :prompt=>"Select Campus" %>
  </div>
  <div class="field">
    <%= f.label :floors %><br />
    <%= f.text_field :floors %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
