<h1>Listing buildings</h1>

<table>
  <tr>
    <th>Building name</th>
    <th>Campus</th>
    <th>Floors</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @buildings.each do |building| %>
  <tr>
    <td><%= building.building_name %></td>
    <td><%= building.campus_id %></td>
    <td><%= building.floors %></td>
    <td><%= link_to 'Show', building %></td>
    <td><%= link_to 'Edit', edit_building_path(building) %></td>
    <td><%= link_to 'Destroy', building, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Building', new_building_path %>
