<p id="notice"><%= notice %></p>

<p>
  <b>Building name:</b>
  <%= @building.building_name %>
</p>

<p>
  <b>Campus:</b>
  <%= @building.campus_id %>
</p>

<p>
  <b>Floors:</b>
  <%= @building.floors %>
</p>


<%= link_to 'Edit', edit_building_path(@building) %> |
<%= link_to 'Back', buildings_path %>
