<%= render 'applicant' %>
<fieldset>
<fieldset><legend>Relevant Publication (if any)</legend>
<%= form_for @relevant_publication, :html => { :multipart => true } do |f| %>
  <% if @relevant_publication.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@relevant_publication.errors.count, "error") %> prohibited this relevant_publication from being saved:</h2>

      <ul>
      <% @relevant_publication.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
   <% end %>
 <%= f.hidden_field :applicant_id, :value => @applicantid %>
<table>
 
<tr><td><%= f.label :publication_title %></td><td> <%= f.text_field :publication_title %></td></tr>
<tr><td><%= f.label :description %></td><td><%= f.text_field :description %></td></tr>
<tr><td> <%= f.label :published_date %></td><td><%= f.date_select :published_date %></td></tr>
<tr><td><%= f.label :attachment %></td><td><%= f.file_field :attachment,  %></td></tr>

</table>
 <div class="actions">
    <%= f.submit %>
  </div>
  <% end %>
</fieldset>
  <fieldset><legend>Relevant Publication List</legend>
  <%= netzke :relevant_publications,
  :model => 'RelevantPublication',
  :class_name => 'Basepack::GridPanel',
  :scope => ["applicant_id = ? ", @applicantid],
  :height => 200
%>
</fieldset>
</fieldset>
<%= link_to 'Previous', :controller=> 'course_exemptions', :action => "new" , :applicant_id => @applicantid %>
<%= link_to 'Next', :controller=> 'research_and_teaching_experiences', :action => "new" , :applicant_id => @applicantid%>