<%= render 'applicants/applicant' %>
<fieldset>
<fieldset><legend>Emergency Contact</legend>
<%= form_for(@emergency_contact) do |f| %>
  <% if @emergency_contact.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@emergency_contact.errors.count, "error") %> prohibited this emergency_contact from being saved:</h2>

      <ul>
      <% @emergency_contact.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
 <%= f.hidden_field :applicant_id, :value => @applicantid %>
<table>
  <tr><td><%= f.label :full_name %></td><td> <%= f.text_field :full_name %></td><td><%= f.label :relationship %></td><td><%= f.text_field :relationship %></td></tr>
<tr><td><%= f.label :residence_telephone %></td><td> <%= f.text_field :residence_telephone %></td><td><%= f.label :office_telephone %></td><td><%= f.text_field :office_telephone %></td></tr>
<tr><td><%= f.label :mobile_telephone %></td><td><%= f.text_field :mobile_telephone %></td></tr>
<tr><td></td><td></td><td></td><td></td></tr>
</table>
 <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
</fieldset>
  <fieldset><legend>Emergency Contact List</legend>
<%#= netzke :emergency_contacts,
  :model => 'EmergencyContact',
  :class_name => 'Basepack::GridPanel',
  :scope => ["applicant_id = ?", @applicantid],
  :height => 200
%>
  </fieldset>
  </fieldset>
<br />
<%= link_to 'Previous', :controller=> 'family_backgrounds', :action => 'new' , :applicant_id => @applicantid%>
<%= link_to 'Next', :controller=> 'educational_backgrounds', :action => "new" , :applicant_id => @applicantid%>
