<h1>Listing emergency_contacts</h1>

<table>
  <tr>
    <th>Full name</th>
    <th>Relationship</th>
    <th>Residence telephone</th>
    <th>Office telephone</th>
    <th>Mobile telephone</th>
    <th>Applicant</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @emergency_contacts.each do |emergency_contact| %>
  <tr>
    <td><%= emergency_contact.full_name %></td>
    <td><%= emergency_contact.relationship %></td>
    <td><%= emergency_contact.residence_telephone %></td>
    <td><%= emergency_contact.office_telephone %></td>
    <td><%= emergency_contact.mobile_telephone %></td>
    <td><%= emergency_contact.applicant_id %></td>
    <td><%= link_to 'Show', emergency_contact %></td>
    <td><%= link_to 'Edit', edit_emergency_contact_path(emergency_contact) %></td>
    <td><%= link_to 'Destroy', emergency_contact, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Emergency contact', new_emergency_contact_path %>
