<h1>Listing department_quotas</h1>

<table>
  <tr>
    <th>Department</th>
    <th>Total quota</th>
    <th>Female percentage</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @department_quotas.each do |department_quota| %>
  <tr>
    <td><%= department_quota.department_id %></td>
    <td><%= department_quota.total_quota %></td>
    <td><%= department_quota.female_percentage %></td>
    <td><%= link_to 'Show', department_quota %></td>
    <td><%= link_to 'Edit', edit_department_quota_path(department_quota) %></td>
    <td><%= link_to 'Destroy', department_quota, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'Add Department quota', new_department_quota_path %><br/><br/>

<div>
  <b><%= link_to 'Place Students', :controller=>"department_placement", :action=>'department_placing_process' %></b>
</div>
