<table border="1">
  <tr>
    <th>Full Name</th>
    <th>Sex</th>
    <th>Applying for</th>
    <td></td>
    <td></td>
    <td></td>
  </tr>
    <% for a in @applicants %>
  <tr>
    <td><%= a.person.full_name %> </td>
    <td><%= a.person.gender %> </td>
    <td><%= a.admission.major_feild_of_study %> </td>
    <td><%= link_to "Details", :action=>"details", :id=>a.person.id%> </td>
    <td><%= link_to "Approve", :action=>"approve", :id=>a.admission.id %> </td>
    <td><%= link_to "Decline", :action=>"index" %> </td>
    <% end %>
  </tr>

</table>

