<div style="width:400;border:blue">
<%= form_tag student_service_staffs_selector_path do  %>
<%= label_tag :Select_program %>
<%= collection_select(:status,:program_id,     @admission_types ,:id,:name,:prompt => false ) %> <br>
<%= label_tag :Select_admission_type %>
<%= collection_select(:status,:admission_type_id,     @admission_types ,:id,:name,:prompt => false ) %> <br>
<%= label_tag :Select_enrollment_type %>
<%= collection_select(:enroll,:name,    @admission_types ,:id,:name,:prompt => false ) %> <br>
<%= label_tag :Verified %> <%= check_box_tag 'verify' %><br>
<%= submit_tag :Filter_by_department %> 
<% end %>
</div>

