<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @college.name %>
</p>

<p>
  <b>Campus:</b>
  <%= @college.campus_id %>
</p>

<p>
  <b>College telephone:</b>
  <%= @college.college_telephone %>
</p>

<p>
  <b>College pobox:</b>
  <%= @college.college_pobox %>
</p>

<p>
  <b>College email:</b>
  <%= @college.college_email %>
</p>

<p>
  <b>Instructor:</b>
  <%= @college.instructor_id %>
</p>


<%= link_to 'Edit', edit_college_path(@college) %> |
<%= link_to 'Back', colleges_path %>
