<%= form_for(@campuse) do |f| %>
  <% if @campuse.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@campuse.errors.count, "error") %> prohibited this campuse from being saved:</h2>

      <ul>
      <% @campuse.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :campus_telephone %><br />
    <%= f.text_field :campus_telephone %>
  </div>
  <div class="field">
    <%= f.label :campus_pobox %><br />
    <%= f.text_field :campus_pobox %>
  </div>
  <div class="field">
    <%= f.label :campus_email %><br />
    <%= f.text_field :campus_email %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
