<h1>Listing campuses</h1>

<table>
  <tr>
    <th>Name</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @campuses.each do |campus| %>
  <tr>
    <td><%= campus.name %></td>
    <td><%= link_to 'Show', campus %></td>
    <td><%= link_to 'Edit', edit_campus_path(campus) %></td>
    <td><%= link_to 'Destroy', campus, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Campus', new_campus_path %>
