<%= form_for(@course) do |f| %>
  <% if @course.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@course.errors.count, "error") %> prohibited this course from being saved:</h2>

      <ul>
      <% @course.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :course_title %><br />
    <%= f.text_field :course_title %>
  </div>
  <div class="field">
    <%= f.label :course_code %><br />
    <%= f.text_field :course_code %>
  </div>
  <div class="field">
    <%= f.label :credit_hour %><br />
    <%= f.text_field :credit_hour %>
  </div>
  <div class="field">
    <%= f.label :description %><br />
    <%= f.text_area :description %>
  </div>
  <div class="field">
    <%= f.label :department_id %><br />
     <%= f.collection_select( :department_id, @departments,:id,:name) %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
