<h1>Listing references</h1>

<table>
  <tr>
    <th>Full name</th>
    <th>Office telephone</th>
    <th>Mobile telephone</th>
    <th>Email</th>
    <th>Profession</th>
    <th>Applicant</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @references.each do |reference| %>
  <tr>
    <td><%= reference.full_name %></td>
    <td><%= reference.office_telephone %></td>
    <td><%= reference.mobile_telephone %></td>
    <td><%= reference.email %></td>
    <td><%= reference.profession %></td>
    <td><%= reference.applicant_id %></td>
    <td><%= link_to 'Show', reference %></td>
    <td><%= link_to 'Edit', edit_reference_path(reference) %></td>
    <td><%= link_to 'Destroy', reference, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Reference', new_reference_path %>
