<table border="1">
  <tr>
    <th>Full Name</th>
    <th>Sex</th>
    <th>Applying for</th>
    <td></td>
    <td></td>
    <td></td>
  </tr>
    <% for u in @users %>
  <tr>
    <td><%= u.user_name %> </td>
    <td><%= u.email %> </td>
    <td><%= u.salt %> </td>
    <td><%= link_to "Details", :action=>"details", :id=>u.id%> </td>
    <td><%= link_to "Approve", :action=>"list" %> </td>
    <td><%= link_to "Decline", :action=>"list" %> </td>
    <% end %>
  </tr>

</table>

