<fieldset><legend><h1>Agreement</h1></legend>
<%= form_for(@agreement) do |f| %>
  <% if @agreement.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@agreement.errors.count, "error") %> prohibited this agreement from being saved:</h2>

      <ul>
      <% @agreement.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<%= f.hidden_field :applicant_id, :value => @applicantid %>
<table align ="center">
  <tr><td><h1>I hereby declare that to the best of my knowledge, the information stated above is correct</h1> </td><td><%= f.check_box :agreement %></td>
    </tr>
</table>
  
  <div class="actions" align="center">
    <%= f.submit value="Apply"%>
  </div>
</fieldset>



<% end %>
