<h1>Listing admissions</h1>

<table>
  <tr>
    <th>Admission type</th>
    <th>Enrollment type</th>

    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @admissions.each do |admission| %>
  <tr>
    <td><%= admission.admission_type_id %></td>
    <td><%= admission.enrollment_type_id %></td>

    <td><%= link_to 'Show', admission %></td>
    <td><%= link_to 'Edit', edit_admission_path(admission) %></td>
    <td><%= link_to 'Destroy', admission, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Admission', new_admission_path %>
