<p id="notice"><%= notice %></p>

<p>
  <b>Admission type:</b>
  <%= @admission.admission_type_id %>
</p>

<p>
  <b>Enrollment type:</b>
  <%= @admission.enrollment_type_id %>
</p>


<%= link_to 'Edit', edit_admission_path(@admission) %> |
<%= link_to 'Back', admissions_path %>
