<%= form_for(@offered_course) do |f| %>
  <% if @offered_course.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@offered_course.errors.count, "error") %> prohibited this offered_course from being saved:</h2>

      <ul>
      <% @offered_course.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

 <div class="field">
    <%= f.label :curriculum_course_id%><br />
     <%= f.collection_select(:curriculum_course_id, @curriculum_courses, :id,:name)%>

  </div>

     <div class="field">
    <%= f.label :academic_year_semester_id%><br />
     <%= f.collection_select(:academic_year_semester_id, @academic_year_semester, :id, :academicyear)%>

  </div>
 
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
