<h1>Listing offered_courses</h1>

<table>
  <tr>
    <th>Curriculum</th>
    <th>Academic semester</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @offered_courses.each do |offered_course| %>
  <tr>
    <td><%= offered_course.curriculum_id %></td>
    <td><%= offered_course.academic_semester_id %></td>
    <td><%= link_to 'Show', offered_course %></td>
    <td><%= link_to 'Edit', edit_offered_course_path(offered_course) %></td>
    <td><%= link_to 'Destroy', offered_course, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Offered course', new_offered_course_path %>
