<p id="notice"><%= notice %></p>

<p>
  <b>Curriculum course:</b>
  <%= @offered_course.curriculum_course_id %>
</p>

<p>
  <b>Academic year semester:</b>
  <%= @offered_course.academic_year_semester_id %>
</p>


<%= link_to 'Edit', edit_offered_course_path(@offered_course) %> |
<%= link_to 'Back', offered_courses_path %>
