<% #Menu items for Student Service Staff
   #sub-menu  Academics  %>

         <div class='menu_link'><img src='/icons/brick_add.png'/ width=20 height=20>
                 <%= link_to "Campuses", campuses_path %><br><div>

         <div class='menu_link'><img src='/icons/chart_organisation_add.png'/ width=20 height=20>
                 <%= link_to "Colleges", colleges_path %><br><div>

         <div class='menu_link'><img src='/icons/coins_add.png'/ width=20 height=20>
                 <%= link_to "Departments", departments_path %><br><div>

        <div class='menu_link'><img src='/icons/clock_add.png'/ width=20 height=20>
                 <%= link_to "Admission Types", admission_types_path %><br><div>

       <div class='menu_link'><img src='/icons/calendar_add.png'/ width=20 height=20>
                 <%= link_to "Enrollment Types", enrollment_types_path %><br><div>


       <div class='menu_link'><img src='/icons/application_view_gallery.png'/ width=20 height=20>
                 <%= link_to "Admissions", admissions_path %><br><div>


<!--        <div class='menu_link'><img src='/icons/application_side_list.png'/ width=20 height=20> -->
                 <%#= link_to "How's", how_tos_path %>
<!--<br><div>-->


<!--        <div class='menu_link'><img src='/icons/application_side_list.png'/ width=20 height=20>-->
                 <%#= link_to "Program", programs_path %>
<!--<br><div>-->

	<div class='menu_link'><img src='/icons/award_star_silver_1.png'/ width=20 height=20>
                  <%= link_to "Academic Calendar", academic_calanders_path %><br> </div>

	<div class='menu_link'><img src='/icons/box.png'/ width=20 height=20>
                  <%= link_to "Add Building", new_building_path %><br> </div>

