<h1>Listing nationalities</h1>

<table>
  <tr>
    <th>Name</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @nationalities.each do |nationality| %>
  <tr>
    <td><%= nationality.name %></td>
    <td><%= link_to 'Show', nationality %></td>
    <td><%= link_to 'Edit', edit_nationality_path(nationality) %></td>
    <td><%= link_to 'Destroy', nationality, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Nationality', new_nationality_path %>
