<% #Menu items for instructor role 
   #sub-menu  Grade %>
<div id="academics">
        <div class='menu_link'><img src='/icons/application_side_list.png'/ width=20 height=20>
                 <%= link_to "Programs", available_programs_path %><br><div>
        <div class='menu_link'><img src='/icons/award_star_silver_1.png'/ width=20 height=20>
                  <%= link_to "How to Apply", how_tos_path %><br> </div>
</div>
<div id="courses" class="x-hide-display">
        <div class='menu_link'><img src='/icons/application_side_list.png'/ width=20 height=20>
                 <%= link_to "Programs", available_programs_path %><br><div>
        <div class='menu_link'><img src='/icons/award_star_silver_1.png'/ width=20 height=20>
                  <%= link_to "How to Apply", how_tos_path %><br> </div>
        </div>

<div id='communications'  class="x-hiddde-display">
        <div class='menu_link'><img src='/icons/application_side_list.png'/ width=20 height=20>
                 <%= link_to "Programs", available_programs_path %><br><div>
        <div class='menu_link'><img src='/icons/award_star_silver_1.png'/ width=20 height=20>
                  <%= link_to "How to Apply", how_tos_path %><br> </div>
</div>

<div id='settings' style="color:blue">
        <div class='menu_link'><img src='/icons/application_side_list.png'/ width=20 height=20>
                 <%= link_to "Programs", available_programs_path %><br><div>
        <div class='menu_link'><img src='/icons/award_star_silver_1.png'/ width=20 height=20>
                  <%= link_to "How to Apply", how_tos_path %><br> </div>
</div>
    

