<!DOCTYPE html>
<html>
<head>
  <title>EStudent</title>
  <%= stylesheet_link_tag :all %>
  <%= javascript_include_tag :defaults %>
  <%= csrf_meta_tag %>
<style type="text/css" media="screen">
.clear { float:none; clear:both; }
.left { float:left;}
.right { float: right;}
#logo_container,#logo ,#h_menu,#centerPanel,#footer,
#h_menu_and_breadcrumbs,
#left_menu, #content, #notification_area
{
  border:1px solid;
}
#logo_container{
    margin:4px;
}
#logo { margin-right:4px;height:64px;width:80px;}
#logo_text { padding:10px;font-size:24px;}
#h_menu { background: #fbefbe;margin:1px;}
#breadcrumbs { position:relative;left:10%;}
#centerPanel { min-height:400px;}
#notification_area { width:15%; min-height:400px;}
#left_menu { width:15%;min-height:400px;}
#content { min-width:68%;min-height:400px;}
#footer{ min-height:80px;}
#user_info { display:none;}
</style>
</head>

<body>
<!--Main layout -->
<div id="mainWrapper" class="clear">
  <div id="northPanel" class="clear">
    <div id="logo_container" class="clear">
       <div id="logo" class="left">
          LOGO
       </div>
       <div id="logo_text" class="left" >   Mekelle University    </div>
       <div id="login_logout" class="right">
      <% if current_user %>
          Hello <%= current_user.username %> (<%= link_to 'Logout', logout_path, :method => :delete %>)
      <% else %>
        <%= link_to "Register", new_user_path, :method => :get %> |
        <%= link_to "Login", login_url, :method => :get %>

      <% end %>
       </div>
    </div><br/>
    <div id="h_menu_and_breadcrumbs" class="clear" >
        <div id="h_menu" class="clear" align="center">
          [Home] [About] [Help]

        </div>
        <div id="breadcrumbs">
            Home > Here
        </div>
    </div>
  </div>
  <!-- Center panel begins here -->
  <div id="centerPanel" class="clear" >
     <!-- Left menu-->
     <div id="left_menu" class="left">
      <div id="user_info">
        PHOTO
        Username :ygetachew
      </div>
            Menu
     </div>
     <!-- Content-->
     <div id="content" class="left">

              <%= yield %>

     </div>

     <!-- notification area-->
    <div id="notification_area" class="right">
Notifications
    </div>

  </div>

  <!-- footer -->
  <div id="footer" class="clear">

  </div>
</div>
</body>
</html>

