<!DOCTYPE html>
<html>
<head>
  <title>Mekelle Univeristy- Student Information System</title>
  <%= stylesheet_link_tag :all %>
  <%= stylesheet_link_tag "/extjs/resources/css/ext-all.css" %>
  <%= stylesheet_link_tag "/extjs/resources/css/xtheme-gray.css" %>
  <%= javascript_include_tag :defaults %>
  <%= netzke_init %>
  <%= javascript_include_tag "main_page" %>
  <%= csrf_meta_tag %>
  <%= stylesheet_link_tag "application", :media => 'all' %> 
</head>
<body>
   <!-- Header Content -->
     <%= render :partial =>'/shared/header' %>

     <%= render :partial =>'/shared/toplink' %>

    <!-- Basic setup menu-->
    <div id="basic_setup">
            <%= render :partial =>'/shared/application/menuitems' %><br/>
    </div>
    <div id="west" class="x-hide-display">
        <div>
            <%= render :partial =>'/shared/application/menuitems' %><br/>
        </div>    

        <div id='student_menu'>
            <%= render :partial =>'/shared/application/menuitems' %><br/>
        </div>
     </div>
    <div id="center2" class="x-hide-display" >
        <%= yield %>
    </div>
    
    <div id="notification_area"> 
    	 <%= render :partial =>'/shared/application/notification' %>
    </div>
 
   <div id="south" class="x-hide-display">
        <center><small>Mekelle Univerisity Gemhalo! project</small></center>
    </div>
    <div></div>

   <!-- End of Main Content -->
</body>
</html>

