<!DOCTYPE html>
<html>
<head>
  <title >Mekelle Univeristy- Student Information System</title>
  <%= stylesheet_link_tag :all %>
  <%#= stylesheet_link_tag "/extjs/resources/css/ext-all.css" %>
  <%#= stylesheet_link_tag "/extjs/resources/css/xtheme-gray.css" %>
  <%#= javascript_include_tag :defaults %>
  <%= netzke_init %>
  <%= javascript_include_tag "main_page" %>
  <%= csrf_meta_tag %>

</head>
<body>
     <!-- Header Content -->
     <div id='north'  class="x-hide-display" >
    	 <%= render :partial =>'/shared/header' %>
     </div>
     
     <!-- Left Menu-->
     <div id="west"  class="x-hide-display" >
	     <%= render :partial =>'/shared/menuitems' %>
     </div>
    
     <!-- body ...main TabPanel-->
     <div id="center2"  class="x-hide-display" >
        <%= yield %>
     </div>

     <!-- Notification Area-->
     <%= render :partial =>'/shared/notification' %>

     <!-- Footer Area-->
     <div id="south" class="x-hide-display">
          <center><small>Mekelle Univerisity Gemhalo! project</small></center>
     </div>
     <div></div>

     <!-- End of Main Content -->
</body>
</html>

