<!DOCTYPE html>
<html>
<head>
  <title>Mekelle Univeristy- Student Information System</title>
  <%= stylesheet_link_tag :all %>
  <%#= stylesheet_link_tag "/extjs/resources/css/ext-all.css" %>
  <%#= stylesheet_link_tag "/extjs/resources/css/xtheme-gray.css" %>
  <%#= javascript_include_tag :defaults %>
  <%= netzke_init %>
  <%= javascript_include_tag "main_page" %>
  <%= csrf_meta_tag %>

</head>
<body>
     <div id='north'>
     <!-- Header Content -->
     <%= render :partial =>'/shared/header' %>
     <!-- Top links -->
     <%= render :partial =>'/shared/toplink' %>
     </div>

     <!-- Left Menu-->
     <%= render :partial =>'/shared/menuitems' %>
    
    <!-- body ...main TabPanel-->
    <div id="center2" >
        <%= yield %>
    </div>

    <!-- Notification Area-->
    <div id="notification_area">
    	 <%= render :partial =>'/shared/notification' %>
    </div>

    <!-- Footer Area-->
   <div id="south" class="x-hide-display">
        <center><small>Mekelle Univerisity Gemhalo! project</small></center>
    </div>

</body>
</html>

