<!DOCTYPE html>
<html>
<head>
  <title>Mekelle Univeristy- Student Information System</title>
  <%= stylesheet_link_tag :all %>
  <%#= stylesheet_link_tag "/extjs/resources/css/ext-all.css" %>
  <%#= stylesheet_link_tag "/extjs/resources/css/xtheme-gray.css" %>
  <%= javascript_include_tag :defaults %>
  <%= netzke_init %>
  <%= javascript_include_tag "welcome" %>
  <%= csrf_meta_tag %>
</head>
<body>

     <!-- Header Content -->
    <div id="north" class="x-hide-display">
     <%= render :partial =>'/shared/header' %>

     <!-- Top links -->
     <%#= render :partial =>'/shared/toplink' %>
     </div>

     <!-- Basic setup menu-->
     <div id="academics" class="x-hide-display">
     <div class='menu_link'><img src='icons/application.png'/ width=20 height=20>
              <%= link_to "Available Programs", available_programs_path %><br> </div>
     <div class='menu_link'><img src='icons/application_go.png'/ width=20 height=20>
              <%= link_to "How to Apply", how_tos_path %><br>

    </div>

     <div id="courses">



    <!-- body ...main TabPanel-->
    <div id="center2" class="x-hide-display" >
        <%= yield %>
    </div>

    <!-- Notification Area-->
    <div id="notification_area">
    	 <%= render :partial =>'/shared/application/notification' %>
    </div>

    <!-- Footer Area-->
   <div id="south" class="x-hide-display">
        <center><small>Mekelle Univerisity Gemhalo! project</small></center>
    </div>

</body>
</html>

