<fieldset>
<fieldset><legend>Family Background</legend>
<%= form_for(@family_background) do |f| %>
  <% if @family_background.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@family_background.errors.count, "error") %> prohibited this family_background from being saved:</h2>

      <ul>
      <% @family_background.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <%= f.hidden_field :applicant_id, :value => @applicantid %>
<table>
  <tr><td><%= f.label :father_edu_level %></td><td> <%= f.text_field :father_edu_level %></td><td><%= f.label :father_occupation %></td><td><%= f.text_field :father_occupation %></td></tr>
  <tr><td><%= f.label :mother_edu_level %></td><td><%= f.text_field :mother_edu_level %></td><td><%= f.label :mother_occupation %></td><td><%= f.text_field :mother_occupation %></td></tr>
</table>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
  </fieldset>
<fieldset><legend>Family Background List</legend>
 <%#= netzke :family_backgrounds,
  :model => 'FamilyBackground',
  :class_name => 'Basepack::GridPanel',
  :scope =>  ["applicant_id = ?", @applicantid],
  :height => 200
%>
</fieldset>
  </fieldset>
<br />
<%= link_to 'Previous', :controller=> 'applicants', :action => 'edit' , :applicant_id => @applicantid%>
<%= link_to 'Next', :controller=> 'emergency_contacts', :action => 'new' , :applicant_id => @applicantid%>
