<h1>Listing borrowed_items</h1>

<table>
  <tr>
    <th>Id number</th>
    <th>Employee id number</th>
    <th>Item name</th>
    <th>Item type</th>
    <th>Borrowed from</th>
    <th>Cleared</th>
    <th>Borrowed date</th>
    <th>Return date</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @borrowed_items.each do |borrowed_item| %>
  <tr>
    <td><%= borrowed_item.id_number %></td>
    <td><%= borrowed_item.employee_id_number %></td>
    <td><%= borrowed_item.item_name %></td>
    <td><%= borrowed_item.item_type %></td>
    <td><%= borrowed_item.borrowed_from %></td>
    <td><%= borrowed_item.cleared %></td>
    <td><%= borrowed_item.borrowed_date %></td>
    <td><%= borrowed_item.return_date %></td>
    <td><%= link_to 'Show', borrowed_item %></td>
    <td><%= link_to 'Edit', edit_borrowed_item_path(borrowed_item) %></td>
    <td><%= link_to 'Destroy', borrowed_item, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Borrowed item', new_borrowed_item_path %>
